@import "container";
@import "title-themeSwitcher-container";
@import "createTodo-input";
@import "each-task";
@import "last-li";
@import "./breakpoints/breakpoints";

@font-face {
  font-family: myFirstFont;
  src: url(../font/JosefinSans-VariableFont_wght.ttf);
  font-weight: 400;
}

body {
  margin: 0;
  font-family: myFirstFont;
}
